<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
{% extends "layout.html" %}
{% block body %}
<div class="container">
<section>
    <div class="container py-3">
        <div class="card">
            <div class="row ">
                <div class="col-md-4">
                    <img src="https://scontent.fmaa2-2.fna.fbcdn.net/v/t1.0-1/p240x240/37041450_1299838040149541_2961837626602029056_n.jpg?_nc_cat=0&amp;oh=9a1b8113daadafc5628b61a8f0a2e0b0&amp;oe=5BE9D7E7" class="w-100">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                            <h4 class="card-title">Mohan Ravichandran</h4>
                            <p class="card-text"> Here are his skills: Python programming, Vulnerability Assessment &amp; Penetration Testing, WIFI Security Testing, Bug Hunter Methodologies And Tools, OWASP Methodologies And Tools, Source Code Analysis, Mobile Security, Information Risk Management.</p>
                            <p class="card-text">He is a security researcher and python programmer, who loves to learn new things.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container py-3">
        <div class="card">
            <div class="row ">
                <div class="col-md-4">
                <img src="https://scontent.fmaa1-2.fna.fbcdn.net/v/t1.0-9/35402370_918719934956504_6502377746507759616_n.jpg?_nc_cat=0&oh=16d26bf20ee65eda5bb4e12584add3a1&oe=5BE05EE1" class="w-100">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">Narayanan I.K</h4>
                        <p class="card-text"> Here are his skills: Python programming, Vulnerability Assessment &amp; Penetration Testing, WIFI Security Testing, Dynamic Application Security Testing, Static Application Security Testing, Bug Hunter Methodologies And Tools, OWASP Methodologies And Tools, Mobile Security. </p>
                        <p class="card-text">He loves to learn new things and is also intrested in security assessment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container py-3">
        <div class="card">
            <div class="row ">
                <div class="col-md-4">
                    <img src="https://scontent.fmaa1-2.fna.fbcdn.net/v/t1.0-9/37367103_1305925652874113_2052146055612465152_n.jpg?_nc_cat=0&oh=7ed88e7cdeb51d0b94a6ce345dfeeae0&oe=5BC78DD4" class="w-100">
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h4 class="card-title">Renga Rajesh P</h4>
                        <p class="card-text"> Here are his skills: Python programming, Vulnerability Assessment &amp; Penetration Testing, Malware analysis, WIFI Security Testing, Dynamic Application Security Testing, Static Application Security Testing, Bug Hunter Methodologies And Tools, OWASP Methodologies And Tools, Source Code Analysis, Mobile Security. </p>
                        <p class="card-text">He is a 20 year python programmer intrested in Machine Learning.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</div>
{% endblock %}
</body>
</html>